.navigation__icon {
   height: 20px;
   width: 20px;
   background-image: url("../../../images/IconSearch.svg");
   background-color: transparent;
   background-position: center;
   background-repeat: no-repeat;
   border: none;
   position: absolute;
   left: 22px;
   top: 12px;
}