.popup__close {
   background-image: url("../../../images/popupButton.svg");
   background-color: transparent;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border: none;
   width: 24px;
   height: 24px;
   position: absolute;
   top: 25px;
   right: 25px;
   align-items: flex-end;
   transition: .3s;
}

.popup__close:hover {
   cursor: pointer;
   opacity: 0.6;
}